* {
  padding: 0;
  margin: 0;
}
.background {
  background: url('../imgs/corkboard.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}
.splash-head {
  height: 90vh;
}
.myheader {
  margin: -10px;
}
.main {
  margin: 20px 0;
}
.small_image {
  display: inline-block;
  width: 160px;
}
.nw {
  padding: 10px;
}
.jumbo {
  font-size: 8em;
  font-weight: bold;
  color: rgba(230, 230, 230, 0.9);
}
.big_cap {
  font-size: 1.5em;
}
.valign-wrapper {
  height: 37vh;
}
.valign {
  margin: 0 auto;
}

.logo, .subheader {
  display: block;
  margin: 0 auto;
  width: 180px;
  position: relative;
  bottom: 10vh;
}

.subheader {
  color: #fff;
  text-shadow: 0 0 25px #423c30;
  text-align: center;
  width: 100%;
  font-weight: bold;
  opacity: 0.75;
  padding-bottom: 20px;
}
.arrow, .up-arrow {
  display: block;
  margin: 0 auto;
  width: 80px;
  opacity: 0.9;
  position: relative;
  bottom: 3vh;
}
.up-arrow {
  margin-top: 80px;
}
.nav_pane {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  height: 100vh;
}
.nav_box {
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 0 0 0 3%;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 10px #221f1a;
  opacity: 0.9;
  min-height: 460px;
  position: relative;
}
.front-icon {
  margin: 0 auto;
  width: 60px;
  display: inline-block;
  padding-top: 20px;
}
.nav_box p {
  text-align: left;
  border-top: 1px solid #bdbdbd;
  padding-top: 20px;
  margin: 20px;
}
.btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #6eaa51;
}
.submit-container {
  margin-top: 80px;
}
.file-path-wrapper {
  width: 88%;
  margin-left: 120px;
}
.search-btn {
  position: relative;
  top: 64px;
}
.map-search-button {
  positon: relative;
}
.map-receptacle {
  width: 98%;
  height: 57vh;
  margin: -30px auto;
}
.recenter-btn {
  margin-top: -140px;
  margin-left: -50px;
}
