#recenter {
  position: relative;
  top: 32px;
  left: 130px;
  height: 32px;
  box-shadow: 0;
  /* bottom: 0px; */
  margin-left: 0px;
  margin-top: 0px;
	z-index: 30;
}
#search{
	display: inline-block;
}
