nav{
  position: relative;
  top: -65px;
}

#nw{
  padding: 0px 15px;
}

.big-text{
  font-size: 50px;
}

.cork-logo{
  position: relative;
  top: 5px;
  height: 50px;
  padding-right: 10px;
}

.forest-green {
  background-color: #6eaa51;
}

li a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.selected {
  background-color: #639949;
  -moz-box-shadow:    inset 2px 0 2px #5d9144, inset -2px 0 2px #5d9144;
  -webkit-box-shadow: inset 2px 0 2px #5d9144, inset -2px 0 2px #5d9144;
  box-shadow:         inset 2px 0 2px #5d9144, inset -2px 0 2px #5d9144;
}
