.map-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}

.clear {
  opacity: 0;
}

.reply {
  padding: 10px;
}

.reply-box {
  height: 249px;
  overflow: scroll;
}

.no-bottom-padding {
  padding-bottom: 0px !important;
}
