<div class="make-note-div">
  <div class="col s12 m12">
    <div class="card-panel white">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="name" type="text">
              <label for="name" data-error="wrong" data-success="right">Name</label>
            </div>
            <div class="input-field col s6">
              <input id="age" type="text">
              <label for="age">Age</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="location" type="text">
              <label for="location" data-error="wrong" data-success="right">Location</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="note" class="materialize-textarea"></textarea>
              <label for="note">Note:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input type="button" value="submit" class="btn">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card-panel white">
      <div class="map-receptacle">

      </div>
    </div>
  </div>
