<div class="row no-bottom-margin">
  <div class="col s12 m12">
    <div class="card-panel white">
      <div class="row">
        <form class="col s12 make-note">
          <div class="row no-bottom-margin">
            <div class="input-field col s6">
              <input id="name" type="text" name="name" required>
              <label for="name">Name *</label>
            </div>
            <div class="input-field col s6">
              <input id="age" type="number" name="age">
              <label for="age">Age</label>
            </div>
          </div>
          <div class="row no-bottom-margin" id="remove-for-coords">
            <div class="file-field input-field col s12">
              <div class="btn">
                <span>Pin</span>
              </div>
              <div class="file-path-wrapper">
                <i class="material-icons prefix" id='loading'><img src="imgs/loader.gif" class='loading-gif'/></i>
                <label id="location-label" for="location" class="remove-label">Location *</label>
                <input id="location" type="text" name="location" disabled="disabled" placeholder="Lonation *">
              </div>
            </div>
            <div class="input-field col s12">
              <input id="contact" type="text" name="contact">
              <label for="contact">Contact *</label>
            </div>
          </div>
          <div class="row no-bottom-margin">
            <div class="input-field col s12">
              <textarea id="note" class="materialize-textarea" name="note"></textarea>
              <label for="note">Note *</label>
            </div>
          </div>
          <div class="row no-bottom-margin">
            <div class="file-field input-field col s6">
              <div class="btn">
                <span>File</span>
                <input id='file-upload' type="file" name="avatar" accept=".png,.jpg,.jpeg,.tif,.gif ">
              </div>
              <div class="file-path-wrapper">
                <input id='file-path' class="file-path validate" type="text" placeholder="File">
              </div>
            </div>
            <div class="input-field col s6 submit-container">
              <input type="button" value="submit" class="btn right submit-make-note">
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
