<script>
  $(".button-collapse").sideNav();
</script>
<nav>
  <div class="nav-wrapper forest-green" id='nw'>
    <img src="../imgs/map-location.svg" class='cork-logo hide-on-med-and-down'/>
    <a href="/" class="brand-logo"><span class='big-text'>C</span>ORK<span class='big-text'>B</span>OARD</a>
    <!-- mobile nav button -->
    <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
    <!-- normal nav -->
    <ul class="right hide-on-med-and-down valign">
      <li><a href="badges.html">Have you seen me?</a></li>
      <li><a href="badges.html" class="active">Seeking my family/friends</a></li>
      <li><a href="collapsible.html">View Nearby</a></li>
      <li><a href="sass.html">About</a></li>
    </ul>
    <!-- mobile nav -->
    <ul class="side-nav" id="mobile-nav">
      <li><a href="badges.html">Have you seen me?</a></li>
      <li><a href="badges.html" class="active">Seeking my family/friends</a></li>
      <li><a href="collapsible.html">View Nearby</a></li>
      <li><a href="sass.html">About</a></li>
      </ul>
  </div>
</nav>
