<div class="row no-bottom-margin">
  <div class="col s12 m12">
    <div class="card-panel white">
      <div class="row">
        <form class="col s12" id="search-form">
          <div class="row">
            <div class="input-field col s10">
              <input id="search" type="text" class="validate" name="name">
              <label for="search" data-error="wrong" data-success="right">Search:</label>
            </div>
            <div class="input-field col s2 search-btn">
              <button class="btn" id="search-submit" type="button">Submit</button>
            </div>
          </div>
        </form>
        <!-- <p class="right-align sub-text">6 Results Found</p> -->
      </div>
    </div>
  </div>
</div>

<div class="search-div row no-bottom-margin">
  <div class="col s12 m12">
    <div class="col s12 white main no-top-margin no-bottom-margin search-box">

      <!-- start of note -->
      <div class="col s12 m12">
        <div class="card horizontal">
          <div class="card-image">
            <img src="../../imgs/placeholder.jpg" class="small_image">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h2 class="header no-top-margin">Eli Byers</h2>
              <p>This is Eli Byers, a photo taken in 2011.  We have not seen him since February 20th, 2012.  If you have any information, please contact me.</p>
              <p>anna@anna.com (888)888-8888</p>
            </div>
            <div class="card-action" id="notes_button" noteId='0'>
              <a>View My Notes</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <!-- end of note -->
      <!-- start of note -->
      <div class="col s12 m12">
        <div class="card horizontal">
          <div class="card-image">
            <img src="../../imgs/placeholder.jpg" class="small_image">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h2 class="header no-top-margin">Eli Byers</h2>
              <p>This is Eli Byers, a photo taken in 2011.  We have not seen him since February 20th, 2012.  If you have any information, please contact me.</p>
              <p>anna@anna.com (888)888-8888</p>
            </div>
            <div class="card-action" id="notes_button" noteId='0'>
              <a>View My Notes</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end of note -->
      <!-- start of note -->
      <div class="col s12 m12">
        <div class="card horizontal">
          <div class="card-image">
            <img src="../../imgs/placeholder.jpg" class="small_image">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h2 class="header no-top-margin">Eli Byers</h2>
              <p>This is Eli Byers, a photo taken in 2011.  We have not seen him since February 20th, 2012.  If you have any information, please contact me.</p>
              <p>anna@anna.com (888)888-8888</p>
            </div>
            <div class="card-action" id="notes_button" noteId='0'>
              <a>View My Notes</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end of note -->
      <!-- start of note -->
      <div class="col s12 m12">
        <div class="card horizontal">
          <div class="card-image">
            <img src="../../imgs/placeholder.jpg" class="small_image">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h2 class="header no-top-margin">Eli Byers</h2>
              <p>This is Eli Byers, a photo taken in 2011.  We have not seen him since February 20th, 2012.  If you have any information, please contact me.</p>
              <p>anna@anna.com (888)888-8888</p>
            </div>
            <div class="card-action" id="notes_button" noteId='0'>
              <a>View My Notes</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end of note -->

    </div>
  </div>
</div>
