<div class="row no-bottom-margin">
  <div class="col s12 m12">
    <div class="card-panel white">
      <div class="row">
        <form class="col s12" id="search-form">
          <div class="row">
            <div class="input-field col s10">
              <input id="search" type="text" class="validate">
              <label for="search" data-error="wrong" data-success="right">Search:</label>
            </div>
            <div class="input-field col s2 search-btn">
              <button class="btn" id="search-submit" type="button">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  <div class="search-div row no-bottom-margin">
    <div class="col s12 m12">
      <div class="col s12 white main">
        <div class="col s12 m12">
          <h2 class="header">Eli Byers</h2>
          <div class="card horizontal">
            <div class="card-image">
              <img src="../../imgs/placeholder.jpg" class="small_image">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>This is Eli Byers, a photo taken in 2011.  We have not seen him since February 20th, 2012.  If you have any information, please contact me.</p>
                <p>anna@anna.com (888)888-8888</p>
              </div>
              <div class="card-action" id="notes_button">
                <a>View My Notes</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
