<div class="search-div row no-bottom-margin">
  <div class="col s12 white main">

    <div class="col s12 m12">
      <h2 class="header">Eli Byers</h2>
      <div class="card horizontal">
        <div class="card-image">
          <img src="../../imgs/placeholder.jpg" class="small_image">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>This is Eli Byers, a photo taken in 2011.  We have not seen him since February 20th, 2012.  If you have any information, please contact me.</p>
            <p>anna@anna.com (888)888-8888</p>
          </div>
          <div class="card-action teal">
            <a href="#" class="">View My Notes</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
