<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CorkBoard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
    <link rel="stylesheet" href="../css/index.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="wrapper">
      <div class="background">
        <div class="valign-wrapper">
          <h5 class="valign jumbo"><span class="big_cap">C</span>ORK<span class="big_cap">B</span>OARD</h5>
        </div>
				<h2 class="subheader">Find The Ones You Love</h2>
        <img class="logo" src="../imgs/map-location.svg" alt="" />
        <img class="arrow" id="scroll_down" src="../imgs/caret-down.svg" alt="" />
				<div class="navigate">
					<div class="nav_pane">
						<div class="nav_box">
							<h4>Pin Note</h4>
							<img class="front-icon" src="../imgs/push-pin.svg" alt="" />
							<p>
								Whether you're looking for a missing loved one, or you're trying to establish contact with your family, add a note here.
							</p>
							<button type="button" class="btn">Pin Note</button>
						</div>
						<div class="nav_box">
							<h4>Search Notes</h4>
							<img class="front-icon" src="../imgs/human-resources.svg" alt="" />
							<p>
								Before adding a note, try searching your name or your loved one's to see if there's a note waiting for you.  Search by name, or narrow your search by city, the approximate age of you or the person you seek, or any alias by which they/you may be known.
							</p>
							<button type="button" class="btn">Search</button>
						</div>
						<div class="nav_box">
							<h4>Nearby Notes</h4>
							<img class="front-icon" src="../imgs/map.svg" alt="" />
							<p>
								View a map of any region to see pins of recently added notes in that area.
							</p>
							<button type="button" class="btn">View Map</button>
						</div>
					</div>
				</div>
      </div>
    </div>
  </body>
</html>
