<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CorkBoard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
    <link rel="stylesheet" href="../css/main.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="wrapper">
      <div class="background">
        <div class="valign-wrapper">
          <h5 class="valign jumbo"><span class="big_cap">C</span>ORK<span class="big_cap">B</span>OARD</h5>
        </div>
        <img class="logo" src="../imgs/map-location.svg" alt="" />
      </div>
    </div>
  </body>
</html>
