<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>Test!!</h1>

	<form action='/notes/add' method='POST'>
		Name: <input type="text" name="name">
		Lat: <input type="text" name="lat">
		Long: <input type="text" name="long">
		<input type="submit" value='add'>

	</form>

</body>
</html>